@model List<CartProductViewModel>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cartProduct in Model)
		{
			<tr>
				<td>@cartProduct.Id</td>
				<td>@cartProduct.Product.Name</td>
				<td>@cartProduct.Quantity</td>
				<td>@cartProduct.Price</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">Total:</td>
			<td>@Model.Sum(p => p.Quantity * p.Price)</td>
		</tr>
		<tr>
			<td colspan="3">Tax (KDV:%18):</td>
			<td>@(Model.Sum(p => p.Quantity * p.Price) * 0.18m)</td>
		</tr>
		<tr>
			<td colspan="3">Total (including tax):</td>
			<td>@(Model.Sum(p => p.Quantity * p.Price) * 1.18m)</td>
		</tr>
	</tfoot>
</table>